@charset "UTF-8";
/*css 註解*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: 'Noto Sans TC', sans-serif;
  vertical-align: baseline;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn-small {
  width: 100px;
  padding: 10px;
  background-color: #b546bb;
  text-align: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
  color: aliceblue;
}

.btn-small:hover {
  background-color: #6e2a71;
}

@media screen and (max-width: 490px) {
  .btn-small {
    width: 70%;
  }
}

.space1 {
  margin-top: 1px;
}

.space2 {
  margin-top: 2px;
}

.space3 {
  margin-top: 3px;
}

.space4 {
  margin-top: 4px;
}

.space5 {
  margin-top: 5px;
}

.space6 {
  margin-top: 6px;
}

.space7 {
  margin-top: 7px;
}

.space8 {
  margin-top: 8px;
}

.space9 {
  margin-top: 9px;
}

.card {
  max-width: 800px;
  background-color: #F4F1EC;
  /* margin: 100px auto 0; */
  border-radius: 5px;
  z-index: 40;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

@media screen and (max-width: 490px) {
  .card {
    max-width: 375px;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .card {
    max-width: 375px;
    width: 100%;
  }
}

.card .cardUl {
  background-color: #b546bb;
  color: white;
  padding: 20px 0;
  border-radius: 5px 5px 0 0;
  position: relative;
}

@media screen and (max-width: 490px) {
  .card .cardUl {
    padding: 24px 0;
  }
}

@media screen and (max-width: 900px) {
  .card .cardUl {
    padding: 24px 0;
  }
}

.card .cardInner {
  width: 800px;
  margin: 0 auto;
  padding: 40px 0;
  color: #313131;
}

@media screen and (max-width: 490px) {
  .card .cardInner {
    padding: 20px 0;
    max-width: 375px;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .card .cardInner {
    padding: 20px 0;
    max-width: 375px;
    width: 100%;
  }
}

.wrapper .header {
  padding: 30px;
  text-align: center;
}

.wrapper .header h1 {
  text-align: center;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: inline-block;
}

@media screen and (max-width: 490px) {
  .wrapper .header h1 {
    font-size: 28px;
  }
}

.wrapper .headerSelect {
  text-align: right;
}

.wrapper .headerSelect select {
  margin-right: 40px;
  padding: 10px;
  font-size: 22px;
  margin-top: 10px;
}

@media screen and (max-width: 490px) {
  .wrapper .headerSelect select {
    margin-right: 20px;
    font-size: 18px;
  }
}

.wrapper .headerSelect .liked {
  position: relative;
  margin-bottom: 20px;
  margin-right: 30px;
  padding: 10px;
  font-size: 28px;
}

@media screen and (max-width: 490px) {
  .wrapper .headerSelect .liked {
    margin-right: 10px;
    font-size: 18px;
  }
}

.wrapper .headerSelect .liked a {
  text-decoration: none;
  border: 2px solid #b546bb;
  color: #b546bb;
  padding: 10px;
}

.wrapper .headerSelect .liked a:hover {
  border: 2px solid #b546bb;
  color: white;
  background-color: #b546bb;
}

.wrapper .headerSelect .liked span {
  display: inline-block;
  text-align: center;
  border: 1px solid #88ac1b;
  background-color: #88ac1b;
  color: aliceblue;
  border-radius: 50%;
  width: 30px;
  position: absolute;
  right: -10px;
  top: -20px;
}

@media screen and (max-width: 490px) {
  .wrapper .headerSelect .liked span {
    width: 20px;
    right: 0px;
    top: -15px;
  }
}

.wrapper .travelImgWrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  max-width: 1200px;
}

.wrapper .travelImgWrapper .travelImg_outer {
  margin: 0 20px;
}

.wrapper .travelImgWrapper .travelImg_outer .travelImg {
  max-width: 300px;
  margin: 10px;
  border: 1px solid #5f5f5f;
}

.wrapper .travelImgWrapper .travelImg_outer .travelImg .main_name {
  font-size: 22px;
  text-align: center;
  padding: 10px;
}

.wrapper .travelImgWrapper .travelImg_outer .travelImg .main_address {
  font-size: 14px;
  text-align: center;
  padding: 10px;
}

.wrapper .travelImgWrapper .travelImg_outer .travelImg .main_introduction {
  max-width: 300px;
  font-size: 14px;
  text-align: center;
  padding: 10px;
}

.wrapper .travelImgWrapper .travelImg_outer .travelImg .travelImg_main {
  max-width: 300px;
  margin: 0 auto;
  padding: 5px;
  cursor: pointer;
}

.wrapper .travelImgWrapper .travelImg_outer .travelImg .travelImg_main img {
  width: 100%;
}

.wrapper .travelImgWrapper .travelImg_outer .travelImg .btnSma {
  text-align: center;
}

.wrapper .travelImgWrapper .travelImg_outer .travelImg .btnSma .btn-small {
  padding: 10px;
  margin: 5px;
}

.wrapper .pagination .pagination-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.wrapper .pagination .pagination-ul li a {
  font-size: 28px;
  text-decoration: none;
  padding: 0px 10px;
}

.wrapper .travelPop {
  max-width: 500px;
  margin: 0 auto;
}

.wrapper .travelPop div {
  margin: 15px 0;
  line-height: 1.6;
}

.wrapper .travelPop div p {
  line-height: 1;
}

.wrapper .contactUSInner {
  z-index: 120;
  position: fixed;
  background-color: black;
  opacity: 0.8;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.wrapper .card {
  z-index: 123;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrapper .card .cardUl {
  text-align: center;
}

.wrapper .card .cardUl h1 {
  font-size: 22px;
}

@media screen and (max-width: 490px) {
  .wrapper .card .cardUl h1 {
    font-size: 22px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper .card .cardUl h1 {
    font-size: 22px;
  }
}

@media screen and (max-width: 490px) {
  .wrapper .card .cardUl {
    padding: 16px 0;
  }
}

@media screen and (max-width: 900px) {
  .wrapper .card .cardUl {
    padding: 16px 0;
  }
}

.wrapper .cardInner {
  font-size: 22px;
  border-radius: 5px 5px 0 0;
}

.wrapper .cardInner .travelImg_main {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.wrapper .cardInner .travelImg_main img {
  width: 100%;
}

@media screen and (max-width: 490px) {
  .wrapper .cardInner .travelImg_main img {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .wrapper .cardInner .travelImg_main img {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
}

.wrapper .cardInner .travelInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .cardInner .travelInput div {
  margin: 10px 0;
}

.wrapper .cardInner .travelInput div input {
  margin-top: 10px;
  width: 500px;
  font-size: 18px;
}

@media screen and (max-width: 490px) {
  .wrapper .cardInner .travelInput div input {
    width: 360px;
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper .cardInner .travelInput div input {
    width: 360px;
    font-size: 16px;
  }
}

.wrapper .cardInner .travelInput div textarea {
  margin-top: 10px;
  width: 500px;
  height: 300px;
  font-size: 18px;
  resize: none;
}

@media screen and (max-width: 490px) {
  .wrapper .cardInner .travelInput div textarea {
    width: 360px;
    height: 300px;
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper .cardInner .travelInput div textarea {
    width: 360px;
    height: 300px;
    font-size: 16px;
  }
}

.wrapper .cardInner .btna3 {
  margin: 10px auto;
  width: 150px;
  font-size: 18px;
  padding: 10px 0;
  background-color: #b546bb;
  color: white;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.494);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.494);
  border: 0;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
}

.wrapper .cardInner .btna3:hover {
  -webkit-box-shadow: 0px 0px 0px;
          box-shadow: 0px 0px 0px;
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
  background-color: #521e55;
}
/*# sourceMappingURL=style.css.map */