.wrapper{
    .header{
        padding: $space03;
        text-align: center;
        h1 {
            text-align: center;
            font-size: $h1;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            display:inline-block;
            margin: 20px 0;
            @include m(){
                font-size: $h3;
                margin: 10px 0;
            }
        }
    }
    .headerSelect{
        text-align: right;
        .totalBtn{
            display: flex;
            justify-content: end;
        }
        select{
            margin-right: $space04;
            padding: $space01;
            font-size: $h4;
            margin-top: 10px;
            @include m(){
                margin-right: 20px;
                font-size: $h5;
            }
        }
        .liked{
            position: relative;
            margin-bottom: 20px;
            margin-right: $space03;
            padding: $space01;
            font-size: $h4;
            @include m(){
                margin-right: $space01;
                font-size: $h5;
            }
            a{
                text-decoration: none;
                border: 2px solid #b546bb;
                color: #b546bb;
                padding: 10px;
                &:hover{
                    border: 2px solid #b546bb;
                    color: white;
                    background-color: #b546bb;
                }  
            }
            span{
                display: inline-block;
                text-align: center;
                border: 1px solid rgb(136, 172, 27);
                background-color: rgb(136, 172, 27);
                color: aliceblue;
                padding: 2px;
                border-radius: 50%;
                width: 27px;
                position: absolute;
                right: -5px;
                top: -20px;
                @include m(){
                    width: 20px;
                    right: 0px;
                    top: -15px;
                }
            }
        }
        
    }
    .travelImgWrapper{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        padding: $space01;
        max-width: 1200px;
        .travelImg_outer{
            // max-width: 500px;
            margin: 0 20px;
            .travelImg{
                max-width: 300px;
                margin: $space01;
                border: 1px solid $gray01;
                .main_name{
                    font-size: $h4;
                    text-align: center;
                    padding: $space01;
                }
                .main_address{
                    font-size: 14px;
                    text-align: center;
                    padding: $space01;
                }
                .main_introduction{
                    max-width: 300px;
                    font-size: 14px;
                    text-align: center;
                    padding: $space01;
                }
                .travelImg_main{
                    max-width: 300px;
                    margin: 0 auto;
                    padding: 5px;
                    cursor: pointer;
                    img{
                        width: 100%;
                    }
                }
                .btnSma{
                    text-align: center;
                    .btn-small {
                        padding: $space01;
                        margin: 5px;
                        
                        
                    }
                }
                
            }
        
        }
        
        
    }
    .pagination{
        
        .pagination-ul{
            display: flex; 
            justify-content: center;
            padding: $space02;
            li{
                a{
                    font-size:$h3;
                    text-decoration: none;
                    padding: 0px 10px;
                }
            }
        }
    }
    .travelPop{
        max-width: 500px;
        margin: 0 auto;
        div{
            margin: 15px 0;
            line-height: 1.6;
            p{
                line-height: 1;
            }
        }
    }
}