
@mixin btn($w , $p , $bgc , $r:null){
   width:$w ;
   padding:$p ;
   background-color: $bgc;
   text-align: center;
   border-radius: $r;
   transition: all .3s ease ;
   cursor: pointer;
   &:hover {
      background-color: darken($bgc , 20);
   }
}

//手機板
@mixin m(){
   @media screen and (max-width: $m) {
      @content;    
   }
}

@mixin t(){
   @media screen and (max-width: $t) {
      @content;    
   }
}

//font style
@mixin fontstyle($size , $f:default){
   @if $f == bold{
      font-weight: bold;
   }
   @else if $f == default{
      font-weight: 400;
      font-size: $size;
   }
   @else if $f == thin{
      font-weight: 100;
      font-size: $size;
   }
}

//space
@mixin space($num){
   @for $i from 1 to $num{
      .space#{$i}{
       margin-top:$i * 1px;
      }
   }
}



//橘色彈窗
@mixin card (){
   max-width: 800px;
   background-color: #F4F1EC;
   /* margin: 100px auto 0; */
   border-radius: 5px;
   z-index: 40;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
}

@mixin cardInner($w){
   width: $w;
   margin: 0 auto;
   padding: 40px 0;
   color: #313131;
}

@mixin cardUl(){
   background-color: #b546bb;
   color: white;
   padding: 20px 0;
   border-radius: 5px 5px 0 0;
   position: relative;
}

